In [ ]:
from sqlalchemy import create_engine
import pandas as pd 


engine = create_engine("mssql+pyodbc://OOO/test?Trusted_Connection=yes&driver=ODBC Driver 17 for SQL Server")

# engine = create_engine('mssql+pyodbc://OOO/test?driver=SQL+Server?Trusted_Connection=yes')
# engine = create_engine('mssql+pyodbc://OOO/test?driver=ODBC Driver 17 for SQL Server?Trusted_Connection=yes')
conn = engine.connect()

#engine = create_engine('mssql+pyodbc://OOO/test?Trusted_Connection=yes&driver=SQL+Server')
# engine = create_engine("mssql+pyodbc://OOO/test?Trusted_Connection=yes&driver=SQL+Native+Client+11.0+Configuration")
# engine = create_engine("mssql+pyodbc://OOO/test?Trusted_Connection=yes&driver=SQL+Native+Client+11.0+Configuration+(32bit)")
# engine = create_engine("mssql+pyodbc://localhost/turtle?Trusted_connection=yes&drivers=SQL+Server+Native+Client+11.0", echo=True, future=True)
# engine = create_engine("mssql+pymssql:///localhost/turtle", echo=True, future=True)
# engine = create_engine("mssql+pyodbc://ooo/test?trusted_Connection=yes", echo=True, future=True)
# mssql
#pyodbc==5.2.0
#SQLAlchemy==2.0.40

#df = pd.read_csv('test.csv')

#df.to_sql('test_table', con=engine, if_exists='replace')

#df.to_sql('test_table', con=engine, if_exists='replace')


# name,age,date
# mike,26,18/07/2021
# amanda,34,12/01/1992

In [4]:
from sqlalchemy import text
with engine.connect() as conn:
    conn.execute(text("CREATE TABLE some_table (x int, y int)"))
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 1, "y": 1}, {"x": 2, "y": 4}],
    )
    conn.commit()

In [ ]:
address_table = Table(
    "address",
    metadata_obj,
    Column("id", Integer, primary_key=True),
    Column("user_id", ForeignKey("user_account.id"), nullable=False),
    Column("email_address", String, nullable=False),
)

In [30]:
with engine.connect() as conn:
    conn.execute(text(f"DROP TABLE cool_table_for_cool_people"))
    conn.commit()

In [31]:
from sqlalchemy import text
from sqlalchemy import ForeignKey


with engine.connect() as conn:
    conn.execute(text(f"""
    CREATE TABLE cool_table_for_cool_people (
        id int PRIMARY KEY, 
        name VARCHAR(MAX),
        score FLOAT
        )
    """))
    conn.execute(
        text("INSERT INTO cool_table_for_cool_people (id, name, score) VALUES (:id, :name, :score)"),
        [{"id": 1, "name": "Steve Thompson", "score": 5.32}, {"id": 2, "name": "Lisa Slater", "score": 5.89}],
    )
    conn.commit()

In [45]:
with engine.connect() as conn:
    conn.execute(
        text("SELECT * FROM cool_table_for_cool_people"),
    )
    conn.commit()

query="SELECT * FROM cool_table_for_cool_people"
df = pd.read_sql(query, con=engine)
df

   id            name  score
0   1  Steve Thompson   5.32
1   2     Lisa Slater   5.89